@charset "utf-8";
/* CSS Document */

body
{
    background: url(../assets/img/fondo-busqueda.png);
    background-size: cover;
}
.fondo1{
    background:#FFF;
    margin-top:100px;
    border-radius:4px;
    background-size: cover;
}
.color1{
  color:#000;
}
.barra{
  color:#000;
}
.text-barra{
  color:#000;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;  
}
.titulo{
  font-weight: bold;
  font-size: 30px;
}
.subtitulo{
  font-weight: bold;
  font-size: 20px;
}
.texto{
  font-weight: bold;
  font-size: 15px;
}
.btn-buscar{
  margin-left: 260px;
  margin-bottom: 10px;
  color: #fff;
}
.nav-icon{
  background-color: #007bff; 
  border-radius: 2px;
}