@charset "utf-8";
/* CSS Document */

body
{
    background: url(../assets/img/fondo-busqueda.png);
    background-size: cover;
}
.letraForm{
  font-weight: bold;
  font-size: 15px;
  margin-top:5px;
}
.subLetraForm{
  font-size: 15px;
  margin-top:5px;
}
.fondo1{
    background:#FFF;
    border-radius:4px;
    background-size: cover;
}
.fondo2{
  background:#2B2B2E;
  opacity:1;
  margin-bottom:350px;
}
.fondo3{
  background-image:url(Imagenes/calendario.png);
  background-repeat:no-repeat;
  text-indent:30px;
}
.campo{
  margin: 0px 10px 0px 10px;  
}
.tituloForm{
  color:#FFF;
  font-family: 'Patua One', cursive;
  font-size:24px  
}
.campoHora{
  padding: 0px, 0px, 0px, 0px;  
}
.boton{
  margin-bottom: 100px;
}
.nav-icon{
  background-color: #007bff; 
  border-radius: 2px;
}